@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-style: normal;
  src: url("..//fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: medium;
  src: url("..//fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

body {
  min-width: 320px;
  background: white;
  font-family: "Oswald", arial, sans-serif;
  color: #111111;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.advantages {
  margin-bottom: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .advantages {
    margin-top: 14px;
    margin-bottom: 103px; } }

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }

@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 185px; } }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 768px) {
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

.advantages__item {
  position: relative;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-left: 80px;
  margin-bottom: 26px; }
  .advantages__item::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    top: -3px;
    left: -80px; }

@media (min-width: 768px) {
  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    margin-left: 0;
    margin-right: 138px;
    margin-bottom: 244px;
    z-index: 5; }
    .advantages__item:nth-child(even) {
      margin-right: 0; }
    .advantages__item:nth-last-child(-n+2) {
      margin-bottom: 0; } }

@media (min-width: 1300px) {
  .advantages__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 0; }
    .advantages__item:nth-child(even) {
      margin-right: 80px; }
    .advantages__item:last-child {
      margin-right: 0; } }

.advantages__item span {
  margin: 0;
  padding: 0;
  z-index: 5;
  position: relative; }

@media (min-width: 768px) {
  .advantages__item::before {
    width: 80px;
    height: 80px;
    top: -113px;
    left: 0; }
  ::after {
    position: absolute;
    font-family: "Oswald", arial, sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    top: -151px;
    left: 115px;
    z-index: 1; }
  .advantages__item:nth-child(1)::after {
    content: "1"; }
  .advantages__item:nth-child(2)::after {
    content: "2"; }
  .advantages__item:nth-child(3)::after {
    content: "3"; }
  .advantages__item:nth-child(4)::after {
    content: "4"; } }

.advantages__item--eco::before {
  background-image: url("../img/advantage-leaf@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__item--eco::before {
      background-image: url("../img/advantage-leaf@2x.png"); } }

.advantages__item--easy::before {
  background-image: url("../img/advantage-powder@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__item--easy::before {
      background-image: url("../img/advantage-powder@2x.png"); } }

.advantages__item--how::before {
  background-image: url("../img/advantage-dining@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__item--how::before {
      background-image: url("../img/advantage-dining@2x.png"); } }

.advantages__item--time::before {
  background-image: url("../img/advantage-clock@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__item--time::before {
      background-image: url("../img/advantage-clock@2x.png"); } }

.button {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  cursor: pointer; }
  .button:hover, .button:active {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 28px; } }

.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 768px) {
  .catalog__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

.catalog__item {
  margin-bottom: 23px; }

@media (min-width: 768px) {
  .catalog__item {
    width: 323px;
    margin-right: 60px;
    margin-bottom: 140px; }
    .catalog__item:nth-child(even) {
      margin-right: 0; } }

@media (min-width: 1300px) {
  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 143px; }
    .catalog__item:nth-child(even) {
      margin-right: 80px; }
    .catalog__item:nth-child(4n+4) {
      margin-right: 0; } }

.catalog__title {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }

@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 37px;
    margin-bottom: 166px; } }

@media (min-width: 1300px) {
  .catalog__title {
    margin-top: 52px; } }

.category {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .category {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 53px;
    padding-right: 50px;
    margin-bottom: 30px; } }

@media (min-width: 1300px) {
  .category {
    width: 570px;
    margin-right: 80px;
    margin-bottom: 58px; }
    .category:last-child {
      margin-right: 0; } }

@media (min-width: 768px) {
  .category__fat {
    padding-top: 76px; } }

@media (min-width: 1300px) {
  .category__thin {
    padding-top: 76px; } }

.category__title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400; }

@media (min-width: 768px) {
  .category__title {
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    margin-bottom: 25px; } }

@media (min-width: 1300px) {
  .category__title {
    margin-left: 161px;
    margin-bottom: 74px; } }

.category__title--losing-weight::after,
.category__title--weight-gain::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -68px;
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%; }

@media (min-width: 768px) {
  .category__title--losing-weight::after,
  .category__title--weight-gain::after {
    width: 200px;
    height: 200px;
    top: 16px;
    left: 393px; } }

@media (min-width: 1300px) {
  .category__title--losing-weight::after,
  .category__title--weight-gain::after {
    width: 100px;
    height: 100px;
    top: -29px;
    left: -162px; } }

.category__title--losing-weight::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -60px;
  width: 35px;
  height: 50px;
  background: url("../img/icon-cat-slim.svg") no-repeat;
  z-index: 5; }

@media (min-width: 768px) {
  .category__title--losing-weight::before {
    top: 4px;
    left: 423px;
    width: 141px;
    height: 194px; } }

@media (min-width: 1300px) {
  .category__title--losing-weight::before {
    top: -35px;
    left: -148px;
    width: 71px;
    height: 97px; } }

.category__title--weight-gain::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -77px;
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat;
  z-index: 5; }

@media (min-width: 768px) {
  .category__title--weight-gain::before {
    top: 59px;
    left: 359px;
    width: 268px;
    height: 113px; } }

@media (min-width: 1300px) {
  .category__title--weight-gain::before {
    top: -7px;
    left: -180px;
    width: 134px;
    height: 57px; } }

.category__description {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 42px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444; }

@media (max-width: 767px) {
  .category__description::before {
    content: "";
    position: absolute;
    bottom: -23px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9; } }

@media (min-width: 768px) {
  .category__description {
    font-size: 16px;
    line-height: 24px;
    width: 373px;
    margin-bottom: 57px; } }

@media (min-width: 1300px) {
  .category__description {
    margin-left: -1px;
    width: 465px;
    margin-bottom: 32px; } }

@media (min-width: 768px) {
  .category__fat .category__description {
    width: 340px; } }

@media (min-width: 1300px) {
  .category__fat .category__description {
    width: 465px; } }

.category__button {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #111111; }
  .category__button::before {
    content: "";
    position: absolute;
    top: 5px;
    right: -37px;
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat; }

.category__button:hover::before {
  width: 34px;
  right: -46px; }

.category__button:active,
.category__button:focus {
  opacity: 0.3; }
  .category__button:active::before,
  .category__button:focus::before {
    width: 34px;
    right: -46px;
    opacity: 0.3; }

@media (min-width: 768px) {
  .category__button {
    font-size: 20px;
    line-height: 20px; }
    .category__button::before {
      top: 8px;
      right: -47px; }
  .category__button:hover::before,
  .category__button:active::before,
  .category__button:focus::before {
    right: -56px; } }

.category-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -5px; }

@media (min-width: 1300px) {
  .category-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

.copyright__link {
  text-decoration: none;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444; }

.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 5; }

.main-nav__toggle {
  position: absolute;
  top: -45px;
  right: 0;
  z-index: 2;
  display: block;
  width: 25px;
  height: 19px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #222222;
  -webkit-box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
          box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222; }

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 19px;
  height: 19px;
  background: url("../img/icon-close.svg") no-repeat; }

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; } }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
  .main-nav--opened .site-list__item {
    display: block; }
  .main-nav--nojs .main-nav__toggle {
    display: none; } }

.page-footer {
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .page-footer {
    padding-top: 26px;
    padding-bottom: 25px; } }

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .page-footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.page-footer__footer-logo {
  padding-top: 38px;
  padding-bottom: 32px; }

@media (min-width: 768px) {
  .page-footer__footer-logo {
    width: 162px;
    margin-right: 30px; } }

@media (min-width: 1300px) {
  .page-footer__footer-logo {
    width: 245px;
    margin-right: 80px; } }

.page-footer__logo-image {
  width: 128px;
  height: 24px;
  cursor: pointer; }

.page-footer__logo-image:hover {
  opacity: 0.8; }

.page-footer__logo-image:active,
.page-footer__logo-image:focus {
  opacity: 0.6; }

.page-footer__social {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px; }
  .page-footer__social::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
    top: -3px;
    left: -76px; }

@media (min-width: 768px) {
  .page-footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 324px;
    margin-right: 30px; }
    .page-footer__social::before {
      background-color: transparent; } }

@media (min-width: 1300px) {
  .page-footer__social {
    width: 610px;
    margin-right: 40px; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  min-width: 132px;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  .social__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 140px;
    margin-top: 2px; } }

@media (min-width: 1300px) {
  .social__list {
    min-width: 265px; } }

.social__item {
  margin-right: 35px; }
  .social__item:last-child {
    margin-right: 0; }

@media (min-width: 768px) {
  .social__item {
    margin-right: 27px; } }

.social__link {
  text-decoration: none; }

.social__icon {
  cursor: pointer; }

.social__icon:active path,
.social__icon:focus path {
  fill: #68b738;
  opacity: 0.3; }

.social__icon path {
  fill: #666666; }

.social__icon:hover path {
  fill: #68b738; }

.social__icon-vk {
  width: 22px;
  height: 12px; }

@media (min-width: 768px) {
  .social__icon-vk {
    width: 30px;
    height: 16px; } }

.social__icon-insta {
  width: 17px;
  height: 17px; }

@media (min-width: 768px) {
  .social__icon-insta {
    width: 23px;
    height: 23px; } }

.social__icon-insta:hover circle {
  fill: #68b738; }

.social__icon-insta:active circle,
.social__icon-insta:focus circle {
  opacity: 0.3;
  fill: #68b738; }

.social__icon-fb {
  width: 10px;
  height: 19px;
  margin-left: 5px; }

@media (min-width: 768px) {
  .social__icon-fb {
    width: 14px;
    height: 28px;
    margin-left: 5px; } }

.page-footer__copyright {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 30px;
  padding-bottom: 10px; }
  .page-footer__copyright::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    top: -1px;
    left: 0; }

@media (min-width: 768px) {
  .page-footer__copyright {
    width: 162px;
    margin-right: 0;
    margin-top: -6px; }
    .page-footer__copyright::before {
      background-color: transparent; } }

@media (min-width: 1300px) {
  .page-footer__copyright {
    width: 162px;
    margin-top: -3px; } }

.copyright__link {
  display: block;
  width: 140px;
  margin-right: 113px;
  margin-left: -2px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: #444444; }

.copyright__link:active,
.copyright__link:focus {
  opacity: 0.3; }

.copyright__logo {
  display: block;
  padding: 0;
  margin: 0;
  width: 27px; }

@media (min-width: 768px) {
  .copyright__link {
    margin-right: 0; } }

.copyright__image {
  width: 27px;
  height: 34px;
  margin-top: -8px; }

.copyright__image path {
  fill: #666666; }

.copyright__image:hover path {
  fill: #68b738; }

.copyright__image:active path,
.copyright__image:focus path {
  fill: #68b738;
  opacity: 0.3; }

.page-header {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .page-header::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #e6e6e6;
    bottom: -1px;
    left: -20px; }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (min-width: 768px) {
  .page-header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 768px) {
  .page-header {
    padding-top: 26px; }
    .page-header::before {
      background-color: transparent; } }

@media (min-width: 1300px) {
  .page-header {
    padding-top: 58px; } }

@media (min-width: 1300px) {
  .page-header__index {
    position: relative; }
    .page-header__index::after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      width: 50%;
      height: 696px;
      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 700px 696px;
      background-repeat: no-repeat;
      background-position: right;
      z-index: -1; } }
    @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
      .page-header__index::after {
        background-image: url("../img/index-background-desktop@2x.jpg"); } }

.page-header__logo {
  margin-bottom: 15px;
  z-index: 5; }

.page-header__logo-image {
  width: 191px;
  height: 39px;
  cursor: pointer; }
  .page-header__logo-image:hover {
    opacity: 0.8; }
  .page-header__logo-image:active {
    opacity: 0.6; }

@media (min-width: 768px) {
  .page-header__logo-image {
    width: 174px;
    height: 59px;
    margin-top: -3px;
    margin-bottom: 3px; } }

@media (min-width: 1300px) {
  .page-header__logo-image {
    width: 203px;
    height: 60px;
    margin-top: -5px;
    margin-bottom: 5px; } }

.product {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .product::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    height: 1px;
    width: 120%;
    background-color: #e6e6e6; }

@media (min-width: 768px) {
  .product {
    width: 324px;
    height: 431px;
    padding-left: 38px;
    padding-right: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f2f2f2; }
    .product::before {
      background-color: transparent; } }

@media (min-width: 1300px) {
  .product {
    width: 245px;
    padding-left: 38px;
    padding-right: 38px; } }

.product__description-wrapper {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
  vertical-align: top; }

@media (min-width: 768px) {
  .product__description-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.product__title {
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 12px;
  margin-left: -4px;
  min-width: 75px;
  width: 75px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .product__title {
    text-align: center;
    width: 150px;
    margin-top: 164px;
    margin-bottom: 17px;
    margin-left: 0;
    font-size: 20px;
    line-height: 20px; } }

.product__title a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #111111; }

.product__image {
  width: 140px;
  height: 144px;
  text-align: left;
  margin: 0;
  margin-top: 2px;
  padding: 0; }

@media (min-width: 768px) {
  .product__image {
    position: absolute;
    width: 324px;
    height: 172px;
    top: -48px;
    left: 0; }
  .catalog__item-big .product__image {
    width: 324px;
    height: 208px;
    top: -84px;
    left: 0; } }

@media (min-width: 1300px) {
  .product__image {
    position: absolute;
    width: 245px;
    height: 172px;
    top: -47px;
    left: 0; }
  .catalog__item-big .product__image {
    width: 245px;
    height: 208px;
    top: -84px;
    left: 0; } }

.product__characteristic {
  margin: 0;
  padding: 0;
  margin-left: -4px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 140px;
  max-width: 140px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }

@media (min-width: 768px) {
  .product__characteristic {
    font-size: 16px;
    width: 249px;
    max-width: 250px; } }

@media (min-width: 1300px) {
  .product__characteristic {
    width: 171px; } }

.product__characteristic tr,
.product__characteristic td {
  margin: 0;
  padding: 0; }

.product__value {
  text-align: right; }

@media (min-width: 768px) {
  .product__characteristic td {
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd; } }

.product__buy {
  width: 100%;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 9px; }

@media (min-width: 768px) {
  .product__buy {
    margin-top: 34px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 29px;
    padding-top: 10px; } }

.more-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .more-products {
    width: 324px;
    padding-left: 38px;
    padding-right: 37px;
    background-color: transparent;
    border: 1px solid #e6e6e6; } }

@media (min-width: 1300px) {
  .more-products {
    width: 245px; } }

.more-products__title {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  margin-bottom: 7px;
  margin-top: 80px;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px; }
  .more-products__title::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 87px;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat; }

@media (min-width: 768px) {
  .more-products__title {
    margin-top: 164px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    min-width: 145px;
    width: 145px; }
    .more-products__title::before {
      top: -111px;
      left: 73px;
      width: 1px;
      height: 61px;
      background-image: none;
      background-color: #e8e8e8; }
    .more-products__title::after {
      position: absolute;
      content: "";
      top: -111px;
      left: 73px;
      width: 1px;
      height: 61px;
      background-color: #e8e8e8;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

.more-products__description {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }

@media (min-width: 768px) {
  .more-products__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 172px;
    min-width: 172px;
    min-height: 90px; } }

.more-products__show {
  background-color: #f2f2f2;
  color: #444444; }
  .more-products__show:hover, .more-products__show:active {
    background-color: #ebebeb; }
  .more-products__show:focus {
    color: rgba(68, 68, 68, 0.3); }

@media (min-width: 768px) {
  .more-products__show {
    width: 100%;
    margin-bottom: 47px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 9px; } }

.promo {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 22px; }

@media (max-width: 767px) {
  .promo {
    position: relative; }
    .promo::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 305px;
      top: 0;
      right: 0;
      background-color: #5eaa2f;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-size: auto 305px;
      background-repeat: no-repeat;
      background-position: center top;
      z-index: 1; } }
    @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
      .promo::after {
        background-image: url("../img/index-background-mobile@2x.jpg"); } }

@media (min-width: 768px) {
  .promo {
    margin-bottom: 525px; } }

@media (min-width: 1300px) {
  .promo {
    margin-bottom: 269px; } }

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .promo__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 87px; } }

@media (min-width: 1300px) {
  .promo__container {
    margin-left: 80px; } }

.promo__header {
  margin: 0;
  margin-top: 26px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: white; }

@media (min-width: 768px) {
  .promo__header {
    margin-top: 37px;
    padding-right: 14px;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111; } }

@media (min-width: 1300px) {
  .promo__header {
    margin-top: 86px; } }

.promo__slogan {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: white; }

@media (min-width: 768px) {
  .promo__slogan {
    margin-top: 42px;
    padding-left: 1px;
    font-size: 20px;
    line-height: 20px;
    color: #111111; } }

@media (min-width: 1300px) {
  .promo__slogan {
    margin-top: 42px;
    padding-left: 0;
    font-size: 20px;
    line-height: 20px;
    color: #111111; } }

.promo picture {
  z-index: 5; }

.promo__image {
  width: 280px;
  height: 270px;
  margin-top: 29px;
  z-index: 5; }

@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    width: 709px;
    height: 609px;
    left: 29px;
    top: 210px;
    z-index: 1; } }

@media (min-width: 1300px) {
  .promo__image {
    width: 552px;
    height: 499px;
    left: 490px;
    top: -22px; } }

.promo__choose-program {
  font-size: 14px;
  line-height: 18px;
  width: 232px;
  margin: 0 auto;
  margin-top: 4px; }

@media (min-width: 768px) {
  .promo__choose-program {
    width: auto;
    margin: 0;
    margin-top: 48px;
    margin-left: 2px;
    font-size: 20px;
    line-height: 20px;
    z-index: 5; } }

@media (min-width: 1300px) {
  .promo__choose-program {
    margin-top: 52px;
    margin-left: 0; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .site-list {
    position: relative;
    width: 516px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

@media (min-width: 1300px) {
  .site-list {
    position: relative;
    width: 900px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

@media (max-width: 767px) {
  .site-list__item::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: #e6e6e6; } }

@media (min-width: 768px) {
  .site-list__item {
    margin-left: 36px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .site-list__item:first-child {
      margin-right: 0; } }

@media (min-width: 1300px) {
  .site-list__item {
    margin-left: 34px; } }

.site-list__item a {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #111111; }

@media (min-width: 768px) {
  .site-list__item a {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 15px; } }

@media (min-width: 1300px) {
  .site-list__item a {
    color: #ffffff;
    font-size: 20px; } }

@media (min-width: 1300px) {
  .site-list__item--gray a {
    color: #111111; } }

@media (max-width: 767px) {
  .site-list__item--active a {
    position: relative; }
    .site-list__item--active a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      height: 2px;
      background-color: #68b738; } }

@media (max-width: 1299px) {
  .site-list__item--active a {
    position: relative; }
    .site-list__item--active a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;
      height: 2px;
      background-color: #68b738; } }

@media (min-width: 1300px) {
  .site-list__item--active a {
    position: relative; }
    .site-list__item--active a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 15px;
      width: 100%;
      height: 2px;
      background-color: #ffffff; }
  .site-list__item--active-green a {
    position: relative; }
    .site-list__item--active-green a::after {
      background-color: #68b738; } }

.site-list__item a[href]:hover {
  opacity: 0.6; }

.site-list__item a[href]:active {
  opacity: 0.3; }

.container {
  width: auto;
  padding: 0 20px; }

@media (min-width: 768px) {
  .container {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto; } }

@media (min-width: 1300px) {
  .container {
    width: 1220px;
    padding: 0 40px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (max-width: 767px) {
  .wrapper {
    width: 320px;
    padding: 0;
    margin: 0 auto; } }

.temp {
  height: 1183px;
  background-color: indianred; }

@media (min-width: 768px) {
  .temp {
    height: 1678px; } }

@media (min-width: 1300px) {
  .temp {
    height: 1020px; } }

.temp p {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 100px; }

/*# sourceMappingURL=style.css.map */
