.catalog {
  height: 1731px; //временно для сетки
  outline: 1px solid green;
}

@media (min-width: $tablet-width) {
  .catalog {
    height: 2368px; //временно для сетки
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    height: 1230px; //временно для сетки
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.catalog__item {
  height: 185px; //временно для сетки
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    width: 323px;
    height: 433px; //временно для сетки
    margin-right: 60px;

    &:nth-child(even) {
      margin-right: 0;
    }
    margin-bottom: 143px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
    height: 433px; //временно для сетки
    margin-right: 80px;

    &:nth-child(even) {
      margin-right: 80px;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }
    margin-bottom: 143px;
  }
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: $normal;
}

.more-products {
  height: 185px; //временно для сетки
}

@media (min-width: $tablet-width) {
  .more-products {
    width: 323px;
    height: 433px; //временно для сетки
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    width: 245px;
    height: 433px; //временно для сетки
  }
}
