.form {
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: $normal;
  font-size: 16px;
  line-height: 18px;
  color: $font-color;
  margin-bottom: 32px;
}

.form-p {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  position: relative;
}

.form__title {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-family: inherit;
  font-size: 36px;
  line-height: 60px;
  font-weight: $normal;
  text-transform: none;
}

.form__legend {
  font-family: inherit;
  font-weight: $normal;
  font-size: 24px;
  line-height: 24px;
  margin-left: -3px;
  text-transform: none;
}

.form__description {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: $normal;
  text-transform: uppercase;
  width: 230px;
}

.form-fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__input-text {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  height: 45px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 16px;
  color: $font-color;
  opacity: 1;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus, &:active {
    border: 1px solid #444444;
  }

  &:invalid {
    border: 1px solid #ff8282;
  }
}

.form__label {
  margin-right: 10px;
}

.form__input-text--cate-name {
  min-width: 228px;
  width: 228px;
}

.form__input-text--cate-weight {
  width: 206px;
}


.form__input-text--age {
  width: 172px;
}

.form__input-text[placeholder] {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: $normal;
  text-transform: uppercase;
  color: $font-color;
  opacity: 1;
}

.form__programm {
  margin-top: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #ededed;
    top: -21px;
    left: -20px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #ededed;
    bottom: -11px;
    left: -20px;
  }
}

.form__programm-item {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  margin-left: 46px;
}

.form__programm-label {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -4px;
    left: -47px;
    width: 30px;
    height: 30px;
    border: 1px solid #cecece;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }
}

.form__input-radio:checked + label::after {
  position: absolute;
  content: "";
  top: 6px;
  left: -37px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.form__programm-label:hover {
  &::before {
    border: 1px solid #bfbfbf;
  }
}

.form__programm-label:active,
.form__programm-label:focus {
  opacity: 0.3;
}

.form__about-human {
  margin-top: 40px;
}

.form__about-human-legend {
  position: relative;
  margin-bottom: 34px;

  &::before {
    position: absolute;
    content: "";
    width: 99px;
    height: 3px;
    background-color: #68b738;
    top: 13px;
    right: -20px;
  }
}

.form__about-human-email {
  position: relative;
  width: 218px;
  margin-left: -3px;
  padding-right: 40px;
}

.form__about-human-phone {
  width: 202px;
  margin-left: -3px;
  padding-left: 14px;
  padding-right: 40px;
}

.form__input-icon {
  position: absolute;
}

.form__input-icon--mail {
  top: 15px;
  right: 17px;
  width: 18px;
  height: 13px;
}

.form__input-icon--phone {
  top: 12px;
  right: 13px;
  width: 21px;
  height: 21px;
}

.form__input-text:active+.form__input-icon path,
.form__input-text:focus+.form__input-icon path {
   fill: #68b738;
}

.form__input-text:invalid+.form__input-icon path {
   fill: #ff8282;
}

.form__text-comment {
  margin-top: 13px;
}

.form__comment-legend {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 159px;
    height: 3px;
    background-color: #68b738;
    top: 14px;
    left: 116%;
  }
}

.form__comment-area {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  width: 280px;
  min-height: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus, &:active {
    border: 1px solid #444444;
  }
}

.form__legend--extra {
  position: relative;
  margin-top: 28px;
  margin-bottom: 34px;

  &::before {
    position: absolute;
    content: "";
    width: 135px;
    height: 3px;
    background-color: #68b738;
    top: 14px;
    left: 116%;
  }
}

.form__extra-item {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

.form__label--extra {
  position: relative;
  margin-left: 45px;

  &:hover {
    cursor: pointer;
  }

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -45px;
    width: 28px;
    height: 28px;
    border: 1px solid #cecece;
  }
}

.form__input-extra:checked + label::after {
  position: absolute;
  content: "";
  top: 4px;
  left: -40px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
}

.form__label--extra:hover {
  &::before {
    border: 1px solid #bababa;
  }
}

.form__label--extra:active,
.form__label--extra:focus {
  opacity: 0.3;
}

.form__button {
  margin-top: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.form__note {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $font-color;
  text-transform: none;
  text-align: center;
  margin-left: 5px;
}
