.other_goods {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 35px;
}

.other_goods__items {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.other_goods__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 49px;
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: $normal;
  color: $font-color;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    right: -20px;
    top: 40px;
    width: 53px;
    height: 3px;
    background-color: #68b738;
  }
}

.other_goods__item {
  position: relative;
  margin-bottom: 31px;
}

@media (max-width: $mobile-width-only) {
  .other_goods__item {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      top: -15px;
      background-color: #cdcdcd;
    }
  }

  .other_goods__item:last-child {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -17px;
      background-color: #cdcdcd;
    }
  }
}

.other_goods__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: $normal;
  color: $font-color;
}

.other_goods__price-table {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial","Helvetica",sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.other_goods__quantity {
  text-align: left;
}

.other_goods__price {
  text-align: right;
}

.other_goods__gift-block {
  margin: 0;
  padding: 0;
}

.other_goods__gift {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 289px;
  height: 289px;
  background-color: #6fb346;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 289px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.other_goods__gift-image {
  width: 280px;
  height: 289px;
}

.other_goods__gift-icon {
  position: absolute;
  top: 64px;
  left: 50%;
  margin-left: -28px;
}

.other_goods__gift-icon path{
  fill: #ffffff;
}

.other_goods__gift-text {
  padding: 0;
  margin: 0;
  margin-top: 143px;
  width: 160px;
  color: #ffffff;
  font-family: "Arial","Helvetica",sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: $normal;
  text-align: center;
}
