.product {
  outline: 1px solid green;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: $normal;
}

.product__characteristic {
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}
