.product {
  position: relative;
  box-sizing: border-box;
}

@media (max-width: $mobile-width-only) {
  .product {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: #e6e6e6;
    }
  }
}

@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    height: 431px;
    padding-left: 38px;
    padding-right: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;

    &::before {
      background-color: transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.product__description-wrapper {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .product__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__title {
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 12px;
  margin-left: -4px;
  min-width: 75px;
  width: 75px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: $normal;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .product__title {
    text-align: center;
    width: 150px;
    margin-top: 164px;
    margin-bottom: 17px;
    margin-left: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.product__title a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $font-color;
}

.product__image {
  width: 140px;
  height: 144px;
  text-align: left;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .product__image {
    position: absolute;
    width: 324px;
    height: 172px;
    top: -48px;
    left: 0;
  }

  .catalog__item-big .product__image {
    width: 324px;
    height: 208px;
    top: -84px;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .product__image {
    position: absolute;
    width: 245px;
    height: 172px;
    top: -47px;
    left: 0;
  }

  .catalog__item-big .product__image {
    width: 245px;
    height: 208px;
    top: -84px;
    left: 0;
  }
}

.product__characteristic {
  margin: 0;
  padding: 0;
  margin-left: -4px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 140px;
  max-width: 140px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: $tablet-width) {
  .product__characteristic {
    font-size: 16px;
    width: 249px;
    max-width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .product__characteristic {
    width: 171px;
  }
}

.product__characteristic tr,
.product__characteristic td {
  margin: 0;
  padding: 0;
}

.product__value {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product__characteristic td {
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__buy {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 11px;
  margin-top: -6px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .product__buy {
    margin-top: 34px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 0;
    padding-top: 10px;
  }
}

.more-products {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  box-sizing: border-box;
}

@media (max-width: $mobile-width-only) {
  .more-products {
    &::after {
      position: absolute;
      content: "";
      bottom: -23px;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: #e6e6e6;
    }
  }
}

@media (min-width: $tablet-width) {
  .more-products {
    width: 324px;
    padding-left: 38px;
    padding-right: 37px;
    background-color: transparent;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .more-products {
    width: 245px;
  }
}

.more-products__title {
  position: relative;
  align-self: center;
  margin: 0;
  margin-bottom: 7px;
  margin-top: 80px;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  &::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 87px;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .more-products__title {
    margin-top: 164px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    min-width: 145px;
    width: 145px;

    &::before {
      top: -111px;
      left: 73px;
      width: 1px;
      height: 61px;
      background-image: none;
      background-color: #e8e8e8;
    }

    &::after {
      position: absolute;
      content: "";
      top: -111px;
      left: 73px;
      width: 1px;
      height: 61px;
      background-color: #e8e8e8;
      transform: rotate(90deg);
    }
  }
}

.more-products__description {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  align-self: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: $tablet-width) {
  .more-products__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 172px;
    min-width: 172px;
    min-height: 90px;
  }
}

.more-products__show {
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  background-color: #f2f2f2;
  color: #444444;

  &:hover,
  &:active {
    background-color: #ebebeb;
  }

  &:focus {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .more-products__show {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 47px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
  }
}
