.button {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  background-color: $button-green;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $button-green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 28px;
  }
}
