@import "variables";
@import "mixins";
@import "scaffolding";
@import "advantages";
@import "button";
@import "catalog";
@import "category";
@import "category-wrapper";
@import "copyright";
@import "main-nav";
@import "page-footer";
@import "page-header";
@import "product";
@import "promo";
@import "site-list";
@import "container";
@import "visually-hidden";
@import "wrapper";
@import "other_goods";
@import "map";
@import "form";

.temp {
  height: 1183px;
  background-color: indianred;
}

@media (min-width: $tablet-width) {
  .temp {
    height: 1678px;
  }
}

@media (min-width: $desktop-width) {
  .temp {
    height: 1020px;
  }
}

.temp p {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 100px;
}
