//Семейство шрифтов
$font-family: "Oswald", arial, sans-serif;

//Жирность шрифта
$normal: 400;
$medium: 500;
$bold: 700;

//Основной цвет шрифта
$font-color: rgba (17, 17, 17, 1);

//Основной фоновый цвет
$color-basic: rgba(255, 255, 255, 1);

$gray-background: rgba(242, 242, 242, 1);

//Зеленый цвет для кнопок и прочих элементов
$color-green: rgba(104, 183, 56, 1);

//Ширина для мобильной версии
$mobile-width: 320px;
