//Семейство шрифтов
$font-family: "Oswald", arial, sans-serif;

//Жирность шрифта
$normal: 400;
$medium: 500;

//Основной цвет шрифта
$font-color: rgba(17, 17, 17, 1);

//Основной фоновый цвет
$color-basic: rgba(255, 255, 255, 1);

$gray-background: rgba(242, 242, 242, 1);

//Зеленый цвет для кнопок и прочих элементов
$button-green: rgba(104, 183, 56, 1);
$button-green-hover: rgba(94, 170, 47, 1);

//Ширины
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$tablet-width-only: 1299px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
